.nav-logo{
    width: 100px;
    height: 30px;
}
.cart-btn{
    padding: 5px 15px 5px 15px;
    color: #FAFDFB;
    border-radius: 20px !important;
    border:0.5px solid #E43023;
    background: #E43023 !important;
}
.navbar{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: white !important;
    box-shadow: 0 0 8px 0 rgba(57,78,234, 0.1);
}

.form-control{
    border: none;
    border-radius: 2px !important;
    background-color: #f0f0f0 !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300 !important;
}
.form-control:focus {
    border-color: #f0f0f0;
    box-shadow: none !important;
}

.btn {
    border-radius: 0% !important;
}
.btn:focus {
    box-shadow: none;
}
.site-btn{
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    background: #E43023 !important;
}

.site-btn:active{
    background: #E43023 !important;
}

.search-autocomplete{
    z-index: 10000;
    height: 100px;
    background-color: white;
}